

  <div class="form" id="css-elemento" role="form" title="{{title}}">
    <h3 class="text-center">{{titulo}}</h3>
    <div class="form-group">
      <p class="text-center">{{descripcion}}</p>
    </div>
    <label class="form-label">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"> Mas</span>
    </label>
    <div class="form-group">
      <p class="hidden informacion">Contenido: {{fecha}}  Usuario: {{email}}</p>
    </div>

    <div> 
      <div class="btn-group inline" data-toggle="buttons-checkbox">
          
        <button type="Submit" class="completedTaskBtn btn btn-success btn-sm" ng-click="cambiarCaducidad()" ng-show="!caducada">Completada</button>
        <button type="Submit" class="removeTaskBtn btn btn-danger btn-sm" ng-click="eliminarNota()">Eliminar</button>
        <button type="Submit" class="btn btn-primary btn-sm" ng-click="editarTarea()" ng-show="!caducada">Ver</button>
      </div> 
    </div>     
  </div>

<!-- <div class='card' title="{{title}}" ng-href="/#/tareas/{{id}}">
    <h3>{{titulo}}</h3>
    <p>{{descripcion}}</p>
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"> Info</span> 
    <p class="hidden informacion">Contenido: {{fecha}} Usuario: {{email}}</p>
    <div ng-show="!caducada">
      <button type="Submit" class="completedTaskBtn btn btn-success btn-xs" ng-click="cambiarCaducidad()" style="position: absolute;bottom: 4%;right: 15%;">Completada</button>
    </div>
    <button type="Submit" class="removeTaskBtn btn btn-danger btn-xs" ng-click="eliminarNota()" style="position: absolute;bottom: 4%;right: 2%;">Eliminar</button>
    
</div>  -->

<!-- <div class="card" title="{{title}}">
  <h2>{{cabecera}}</h2>
  <h2 class="h3">{{title}}</h2>
  <h3>{{description}}</h3>
  <p class="hidden">Contenido: {{content}}</p>
  <img ng-src='{{image}}' ng-if='image'>
</div>
 -->

